<div class="user-bookings-div">

	<div class="grid-container">
		<% @bookings.each do |booking| %>

		<div class="grid-item user-bookings" data-booking-id="<%= booking.id %>">

        <div>
          <p class="grid-p"><%= booking.tourism_package.starting_point %></p>
          <p class="grid-p"><%= booking.tourism_package.end_point %></p>

        </div>

        <div>
           <p class="grid-p"><%= booking.tourism_package.start_date.to_date %></p>
           <p class="grid-p"> <%= booking.tourism_package.end_date.to_date %></p>
        </div>

        <div>
        	<p class="grid-p"><%= booking.status %></p>
        </div>

        <div>

        	<% if booking.status == 'Pending' %>
        		<%= link_to 'Edit Booking', edit_booking_path(booking.id), class: 'link-btn' %>
        	<% end %>
        </div>	
		</div>
		<% end %>
	</div>

	<%= link_to 'Back to All Packages', root_path, class: 'link-btn' %>
</div>